<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>Field Work || Home</title>
</head>
<body>
    <!-- Navbar Start -->
    <nav id="nav">
        <div class="container-fluid">
            <div class="row">
                <!-- Brand -->
                <div class="col pt-3 ps-3">
                    <div class="navbar-brand">
                        <h3 class="h-3">Field Work</h3>
                    </div>
                </div>
                <!-- Brand End -->

                <!-- Menu -->
                <div class="col pt-3 ps-3">
                    <ul class="nav justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- Menu End -->

                <!-- Login Feature -->
                <div class="col pt-3 ps-3">
                    <div class="hstack gap-3">
                        <input class="form-control me-auto" type="search" placeholder="Search">
                        <button type="button" class="btn color-button">Daftar</button>
                        <div class="vr"></div>
                        <button type="button" class="btn btn-outline-warning">Masuk</button>
                    </div>
                </div>
                <!-- Login Feature End-->
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Main -->
    <main id="main">
        <!-- Hero -->
        <section id="hero">
            <div class="container">
                <div class="row">
                    <!-- CTA + Headline -->
                    <div class="col">
                        <h1></h1>
                    </div>
                    <!-- CTA + Headline End-->

                    <!-- Image -->
                    <div class="col"></div>
                    <!-- Image End -->
                </div>
            </div>
        </section>
        <!-- Hero End -->
    </main>
    <!-- Main End -->



    <script src="bootstrap/js/bootstrap.js.map"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="jquery.js"></script>
    <script src="script.js"></script>
</body>
</html>